<a href="https://colab.research.google.com/github/pranaya-ranjan/g3p_pandas/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Numpy Example**

In [ ]:
import numpy as np
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

# **Pandas Example**

In [ ]:
import pandas as pd

In [ ]:
data0 = {'country': [],
        'popu': [],
        'percent': []}

In [ ]:
df0 = pd.DataFrame(data0)
len(df0[ 'percent']) == 0

True

In [ ]:
data = {'country': ['Italy','Spain','Greece','France','Portugal'],
        'popu': [61, 46, 11, 65, 10],
        'percent': [0.83,0.63,0.15,0.88,0.14]}

df = pd.DataFrame(data)

In [ ]:
df['Date'] = '2021-12'

In [ ]:
data2 = {'country': ['Italy','Spain','Greece','France','Portugal'],
        'popu': [61, 46, 11, 651, 101],
        'percent': [0.831,0.613,0.115,0.818,0.114]}
df2 = pd.DataFrame(data2)

In [ ]:
new_all_df = pd.concat([df, df2]).drop_duplicates(['popu'], keep='last')

In [ ]:
new_all_df

    country  popu  percent     Date
3    France    65    0.880  2021-12
4  Portugal    10    0.140  2021-12
0     Italy    61    0.831      NaN
1     Spain    46    0.613      NaN
2    Greece    11    0.115      NaN
3    France   651    0.818      NaN
4  Portugal   101    0.114      NaN

In [ ]:
a = 65

In [ ]:
df3 = new_all_df.query('Date.isnull()', engine='python').head(2)

In [ ]:
df3

NameError: ignored

In [ ]:
col_one_list = df3['popu'].tolist()

In [ ]:
col_one_list

[61, 46]

In [ ]:
list(df.itertuples(index=False, name=None))

[('Italy', 61, 0.83, '2021-12'),
 ('Spain', 46, 0.63, '2021-12'),
 ('Greece', 11, 0.15, '2021-12'),
 ('France', 65, 0.88, '2021-12'),
 ('Portugal', 10, 0.14, '2021-12')]

In [ ]:
df.to_records().tolist()

[(0, 'Italy', 61, 0.83, '2021-12'),
 (1, 'Spain', 46, 0.63, '2021-12'),
 (2, 'Greece', 11, 0.15, '2021-12'),
 (3, 'France', 65, 0.88, '2021-12'),
 (4, 'Portugal', 10, 0.14, '2021-12')]

In [ ]:
df = pd.DataFrame([
              [0,"https://www.linkedin.com/in/rahul13m/",1,1,0],
              [0,"https://www.linkedin.com/in/rahul13m/",0,1,0],
              [0,"Name/Z",0,0,0],
              [0, ,0,1,0]],columns=["R","Name","Nonprofit","Business", "Education"])    
df1 = pd.DataFrame([],columns=[])    
df2 = pd.DataFrame([
              ["Y",1,1],
              ["Z",1,1],
              ['H',1,6]],columns=["Name","Nonprofit", "Education"])

SyntaxError: ignored

In [ ]:
  df["Name"] = df["Name"].str.replace('https://www.linkedin.com/', '')

In [ ]:
df

   R          Name  Nonprofit  Business  Education
0  0  in/rahul13m/          1         1          0
1  0  in/rahul13m/          0         1          0
2  0        Name/Z          0         0          0
3  0        Name/Y          0         1          0

In [ ]:
df3 = df[['Name', 'Business']]

In [ ]:
df3

  Name  Business
0    X         1
1    Y         1
2    Z         0
3    Y         1

In [ ]:
new_all_df = pd.concat([df1, df2]).drop_duplicates(['Name'], keep='last')

In [ ]:
new_all_df

  Name  Nonprofit  Education
0    Y          1          1
1    Z          1          1
2    H          1          6

In [ ]:
df1.update(df2)

In [ ]:
df1 = df1.set_index('Name')
df2 = df2.set_index('Name')
df1.update(df2)
df1.reset_index(inplace=True)

KeyError: ignored

In [ ]:
df1

  Name  R  Nonprofit  Business  Education
0    X  0        1.0         1        0.0
1    Y  0        1.0         1        1.0
2    Z  0        1.0         0        1.0
3    Y  0        1.0         1        1.0

In [ ]:
df1['Name']

KeyError: ignored

In [ ]:
df1.loc[df1.Name.isin(df2.Name), ['Nonprofit', 'Education']] = df2.loc[df2.Name.isin(df1.Name),['Nonprofit', 'Education']].values

AttributeError: ignored